*{
    margin: 0;
    box-sizing:border-box;
}
.dashboard-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: center;
    justify-content: start;
}
.heading{
    text-align: center;
}
.details{
    margin: 40px 10px;
}
.dashboard-card{
    width: 30vw;
}