.auth-form-container {
    padding-top: 20vh;
}
.new-constraints{
    margin: auto;
    width: 60%;
}
h2{
    font-size: 3rem;
}
.login-form, .register-form {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 5vh 10vh 10vh 10vh;
    border-radius: 20px;
    box-shadow: 2rem 2rem 2rem #c7c7c7;
}

.register-form button{
    margin: auto;
    width: 50%;
}

@media screen and (max-width: 500px) {
    .auth-form-container {
        font-size: 16px;
        /*padding: 5rem;*/
        /*border: 1px solid white;*/
        /*border-radius: 10px;*/
        /*margin: 0.5rem;*/
        /*width: 60%;*/
    }
    .register-form, .login-form {
        /*color: #151516;*/
        display: flex;
        flex-direction: column;
        /*background-color: white;*/
        border-radius: 20px;
        box-shadow: 2rem 2rem 2rem #c7c7c7;
        padding: 30px;
    }
    .new-constraints{
        margin: auto;
        width: 80%;
    }
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #02BDBD;
}

.link-btn {
    background: none;
    color: #000000;
    text-decoration: underline;
}