.auth-form-container {
    padding-top: 20vh;
}
.new-constraints{
    margin: auto;
    width: 60%;
}
h2{
    font-size: 3rem;
}
.login-form, .register-form {
    display: flex;
    flex-direction: column;
    background-color: #02BDBD;
    padding: 5vh 10vh 10vh 10vh;
    border-radius: 20px;
    box-shadow: 2rem 2rem 2rem #c7c7c7;
}

.register-form button{
    margin: auto;
    width: 50%;
}

@media screen and (max-width: 600px) {
    .auth-form-container {
        padding: 5rem;
        border: 1px solid white;
        border-radius: 10px;
        margin: 0.5rem;
        width: 60%;
    }
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #02BDBD;
}

.link-btn {
    background: none;
    color: #000000;
    text-decoration: underline;
}